  .wrapperz {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapperz > div {
    border: 2px solid rgb(0,0,0);
    background-color: rgba(196, 196, 196, 0.7);
    padding: 1em;
    color: #d9480f;
  }

 

  .onez {
    width: 60%;
    margin-top: 15%;
  }