.wrappers {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
  }
  .wrappers > div {

    padding: 1em;
    color: #d9480f;
  }
  .wrappers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100%, 180%);
  }
  .ones {
    width: 180%;
    margin-top: 25%;
  }