.wrapper {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
.wrapper > div {
  border: 2px solid rgb(233,171,88);
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, auto);
}
.one {
  flex: 50%;
  margin-top: 25%;
}
.two { 
  flex: 50%;
  margin-top: 25%;

}
