.Login{
    display: flex;
    margin-top: 64px;
    align-items: center;
    flex-direction: column;
}

.inputs {
    width: 30vw;
}

.inputDiv{
    margin-top: 2em;
}

.Logo{
    width: 15vw;
}

.checkbox{
    margin-top: 2em;
    width: auto;
}

.labelCheckbox{
    margin-left: -15%;
}

.labelForgot{
    margin-left: 15%;
}